<!DOCTYPE html>
<html>

<head>
  <title>Progate</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Hi <%= username %>!</h1>
  <p>Welcome to Progate.</p>
  <div>
    <a href="/blogs">Go to blog page</a>
  </div>
  <div>
    <a href="/users/logout">Logout</a>
  </div>
</body>

</html>