<!DOCTYPE html>
<html>
  <head>
    <title>Progate</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Progate</h1>
    <p></p>Welcome to Progate.</p>
    <a href="/users/register">Register</a>
    <a href="/users/login">Login</a>
    <a href="/users/facebook-login">Login using Facebook</a>
  </body>
</html>