<!DOCTYPE html>
<html>
  <head>
    <title>Progate</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Progate</h1>
    <p>Welcome <%= username %>.</p>
  </body>
</html>